.introduccion__contenido-text {
  color: #fff;
  line-height: 125%;
  margin-bottom: 0;
  width:min(90%,1017px);
  margin-top: 50px;
  font-size: 24px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .introduccion__contenido-text {
    margin-top: 20%;
    width: 90%;
    margin-left: 0%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .introduccion__contenido-text {
    width: 720px;
    margin: auto;
    margin-top: 18%;
  }
}

